/* Reset some default styles */
body,
h1,
h2,
p,
a,
form,
input,
select,
button,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Gothic", sans-serif;
}



/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #4a90e2, #007aff, #005bb5, #003f7f);
    border-bottom: 2px solid #003f7f;
    transform: skew(-20deg);
    margin: 20px;
    opacity: 85%;
    box-shadow: 10px 10px 10px #666;
}

.logo {
    transform: skew(20deg);
}

.logo img {
    height: 100px;
    width: auto;
    border-radius: 20%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    transform: skew(20deg);
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 2rem;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    transition: color 0.3s;
    color: #F8EED7;
}

.nav-links a:hover {
    color: #ffcc00;
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #007aff);
    bottom: -10px;
    left: 0;
    transition: width 0.3s;
}

.nav-links:hover::after {
    width: 100%;
}

/* Hamburger Menu */
.toggle-btn {
    color: #F8EED7;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin: 20px;
}

.fa-solid .fa-bars {
    display: inline-block;
    background: #F8EED7;  
    font-size: 24px; 
    cursor: pointer;
}

.fa-solid .fa-bars :hover {
    color: #ffcc00;
}

.dropdown-menu {
    display: none; 
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: linear-gradient(to right, lightgray, #F8EED7); 
    overflow: hidden;
    transition: height 0.5s ease; 
    border-radius: 5%;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #4a90e2;;
    opacity: 85%;
}

.dropdown-menu.open {
    display: block; 
    height: auto;
    overflow: visible;
}

.dropdown-menu li {
    padding: 0.7rem;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dropdown-menu a:hover {
    color: #ffcc00;
}

.toggle-btn:hover{
    color: #ffcc00;
}



/* Form styles */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 20px auto;
}

.login-form {
    background: #A3CEF1;
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 400px; 
    margin: 0 auto; 
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4A90E2;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #005BB5;
}



/* Footer styles */
footer {
    display: fixed;
    margin-top: auto;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    background: linear-gradient(135deg, #4A90E2, #007AFF, #005BB5, #003F7F
);
}
.social-icons {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.social-icons i {
    color: #BFC1BB;
    font-size: 2rem;
    margin: 25px;
}
.social-icons i:hover {
    transform: scale(1.5);
    background-color: #BFC1BB;
    color: #051C2D;
    border-radius: 50%;
    padding: 3px;
  }
.pages {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.pages a {
    text-decoration: none;
    color: #BFC1BB;
    margin: 10px;
    font-size: large;
}
.pages a:hover {
    transform: scale(1.5);
}
.copyright {
    color: #BFC1BB;
    font-size: large;
}



/* Media Queries */
@media (min-width: 768px){
.pages {
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    margin: 30px auto;
    width: 70%;
}
.social-icons {
    width: 50%;
    margin: 30px auto;
}
.social-icons i {
    color: #BFC1BB;
    font-size: 2.2rem;
    margin: 25px;
}
.footer-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 45% 45% 10%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.logo-container {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #BFC1BB;
}
.social-icons { grid-area: 1 / 2 / 2 / 3; }
.pages { grid-area: 2 / 2 / 3 / 3; }
.copyright { grid-area: 3 / 2 / 4 / 3; }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 25%;
        position: absolute;
        top: 60px;
        right: 0;
        transform: skew(20deg);
        margin-right: -10%; 
        text-align: center;
        opacity: 85%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        font-size: 16px;
        color: #003f7f;
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links a:hover {
        color: #ffcc00;
    }

    .nav-links::after {
        height: 1px;
        bottom: 0;
    }

    .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        right: 0;
        left: auto;
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .toggle-btn {
        display: block;
    }
    .nav-links {
        display: none;
    }
}