/* styling for desktop */
.hero-image {
    background-image: url('images/HHAboutUSHero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    position: relative; 
    box-shadow: 10px 10px 10px #666;
    display: flex;
    align-items: flex-end; 
    padding: 20px;
    animation: slideInFromLeft 3s ease-out;
}

.hero-text {
    font-size: 4rem;
    color: white;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    animation: slideInFromLeft 3s ease-out;
}

.title {
    font-size: 8rem;
    text-align: left;
    animation: slideInFromLeft 3s ease-out;
}

.round-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F8EED7;
    color: #003f7f;
    border: none;
    border-radius: 50px; 
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.3s;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    opacity: 85%;
}

.round-button:hover {
    background-color:  #003f7f;
    color: #F8EED7;
    opacity: 75%;
}

h1 {
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
    font-size: 6rem;
    color: #003f7f;
    opacity: 85%;
    animation: slideInFromLeft 3s ease-out;
}

.slider-wrapper {
    max-width: 100%;
    position: relative;
    overflow: hidden; 
    animation: slideInFromLeft 3s ease-out;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%; 
    transition: transform 0.5s ease;
    padding: 5%; 
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.slide img {
    max-width: 80%; 
    max-height: 40vh; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px; 
}

.slide-title {
    font-size: 2rem;
    margin: 10px 0 5px;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    opacity: 85%;
    color: #003f7f;
}

.slide-description {
    font-size: 1rem;
    color: #666;
    padding: 0 10%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
    padding: 20px;
}

.about-para {
    font-size: 1rem;
    color: #666;
    padding: 0 10%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: slideInFromLeft 3s ease-out;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 10px #666;
    border-radius: 8px;
    overflow: hidden;
    animation: slideInFromLeft 3s ease-out;
}

.item img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.item .content {
    padding: 20px;
}

.item.right {
    flex-direction: row-reverse;
}

.item h2 {
    margin: 0 0 10px;
    opacity: 85%;
    color: #003f7f;
    font-size: 2rem;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.item p {
    margin: 0;
    font-size: .75rem;
    color: #666;
    padding: 0 10%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: slideInFromLeft 3s ease-out;
    width: 90%;
}

/* footer {
    width: 100%;
    display: fixed;
    margin-top: auto;
    background: linear-gradient(135deg, #4A90E2, #007AFF, #005BB5, #003F7F);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.social-icons {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
 
.social-icons i {
    color: white;
    font-size: 2rem;
    margin: 25px;
}

.social-icons i:hover {
    transform: scale(1.5);
    background-color: white;
    color: #274C77;
    border-radius: 50%;
    padding: 3px;
  }

.pages {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

.pages a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: large;
}

.pages a:hover {
    transform: scale(1.5);
}

.copyright {
    color: white;
    font-size: large;
} */

footer {
    display: fixed;
    margin-top: auto;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    background: linear-gradient(135deg, #4A90E2, #007AFF, #005BB5, #003F7F

);
}
.social-icons {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.social-icons i {
    color: #BFC1BB;
    font-size: 2rem;
    margin: 25px;
}
.social-icons i:hover {
    transform: scale(1.5);
    background-color: #BFC1BB;
    color: #051C2D;
    border-radius: 50%;
    padding: 3px;
  }
.pages {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.pages a {
    text-decoration: none;
    color: #BFC1BB;
    margin: 10px;
    font-size: large;
}
.pages a:hover {
    transform: scale(1.5);
}
.copyright {
    color: #BFC1BB;
    font-size: large;
}
@media (min-width: 768px){
    .pages {
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        margin: 30px auto;
        width: 70%;
    }
    .social-icons {
        width: 50%;
        margin: 30px auto;
    }
    .social-icons i {
        color: #BFC1BB;
        font-size: 2.2rem;
        margin: 25px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 45% 45% 10%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .logo-container {
            grid-area: 1 / 1 / 4 / 2;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 3px solid #BFC1BB;
        }
        .social-icons { grid-area: 1 / 2 / 2 / 3; }
        .pages { grid-area: 2 / 2 / 3 / 3; }
        .copyright { grid-area: 3 / 2 / 4 / 3; }
    }

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* tablet devices */
@media (max-width: 768px) {
    .hero-image {
        height: 80vh;
        position: relative; 
    }

    .title {
        font-size: 6rem;
    }

    .hero-text {
        font-size: 3rem;
        animation: slideInFromLeft 3s ease-out;
        position: absolute; 
        bottom: 0; 
        left: 0; 
        margin: 0.5rem; 
    }

    .round-button {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 4rem;
    }
}

/* mobile devices */
@media (max-width: 480px) {
    .hero-image {
        height: 60vh;
        position: relative; 
    }

    .title {
        font-size: 3rem;
    }

    .hero-text {
        font-size: 1rem;
        animation: slideInFromLeft 3s ease-out;
        position: absolute; 
        bottom: 10px; 
        left: 10px; 
    }

    .round-button {
        font-size: 0.5rem;
    }

    h1 {
        font-size: 2rem;
        animation: slideInFromLeft 3s ease-out;
    }

    .about-para {
        font-size: .5rem;
    }

    .slide-description {
        font-size: .5rem;
    }

    .slide-title {
        font-size: 1rem;
    }

    .container h2 {
        font-size: 1rem;
    }

    .container p {
        font-size: .5rem;
    }
}



