.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #4a90e2, #007aff, #005bb5, #003f7f);
    border-bottom: 2px solid #003f7f;
    transform: skew(-20deg);
    margin: 20px;
    opacity: 85%;
    box-shadow: 10px 10px 10px #666;
}

.logo {
    transform: skew(20deg);
}

.logo img {
    height: 100px;
    width: auto;
    border-radius: 20%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    transform: skew(20deg);
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 2rem;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    transition: color 0.3s;
    color: #F8EED7;
}

.nav-links a:hover {
    color: #ffcc00;
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #007aff);
    bottom: -10px;
    left: 0;
    transition: width 0.3s;
}

.nav-links:hover::after {
    width: 100%;
}

.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    transform: skew(20deg);
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; 
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #F8EED7;
    margin: 4px 0;
    transition: 0.4s;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    width: 50%;
    background-color: #F8EED7;
    z-index: 999; 
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    opacity: 95%;
    color: #003f7f;
}

.menu.active {
    display: block;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 25%;
        position: absolute;
        top: 60px;
        right: 0;
        transform: skew(20deg);
        margin-right: -10%; 
        text-align: center;
        opacity: 85%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        font-size: 16px;
        color: #003f7f;
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links a:hover {
        color: #ffcc00;
    }

    .nav-links::after {
        height: 1px;
        bottom: 0;
    }

.hamburger {
        display: flex;
    }
}

/* Media query for tablets and mobile devices */
@media (max-width: 1024px) {
    .hamburger {
        display: flex;  
        flex-direction: column;
        cursor: pointer;
        transform: skew(20deg);
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000; 
    }
    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: #F8EED7;
        margin: 4px 0;
        transition: 0.4s;
    }
    .nav-links {
        display: none;
    }
}











